h1 {
  color:#grey;
  font-size:28pt;
  font-family:arial, "lucida console", sans-serif;
}
button {
  width: 100px;
  background-color: lightgrey;
  margin: 5px;
  border-size: 3px;
  border-radius: 5px;
  font-size: 20px;
}