h1 {
    font-size: 28pt;
    font-family: arial, sans-serif;
}
h2 {
    margin: 5px 5px 20px 5px;
    font-size: 24pt;
    font-family: arial, sans-serif;
}
h3 {
    font-size: 20pt;
    font-family: arial, sans-serif;
}
button {
    margin: 40px 10px 20px 0px !important;
}
#a1Logo {
    width: 100px;
    margin-bottom: 0;
    position: fixed;
    top: max(400px, 85vh);
    left: 20px;
}
.navLogo {
    width: 40px;
    margin-right: 20px !important;
}
#inputTitle {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.6);
    -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
    color: white;
    border-style: solid;
    border-size: 3px;
    border-color: black;
    padding: 10px;
    margin: 8% auto 0 auto;
    max-width: 800px;
    min-width: 400px;
}
label {
    font-size: 20px;
    font-family: arial, sans-serif;
    margin: 5px;
}
input {
    margin: 5px;
}
select {
    margin: 5px;
}
.error {
    color: #ff0000;
    text-shadow: 1px 1px black;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#startPage {
    background: url(https://wallpaperswide.com/download/exotic_vacation-wallpaper-2400x1350.jpg) no-repeat right fixed;
    background-size: cover;
}
#registerPage {
    background: url(https://images.pexels.com/photos/784148/pexels-photo-784148.jpeg?cs=srgb&dl=pexels-molly-champion-256223-784148.jpg&fm=jpg) no-repeat fixed center;
    background-size: cover;
}
#loginPage {
    background: url(https://www.hdwallpapers.in/download/ultra_nature_wallpaper_4k_hd-HD.jpg) no-repeat fixed bottom;
    background-size: cover;
}
#startOptions {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.6);
    -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
    color: white;
    padding: 100px 20px 100px 20px;
    min-width: 400px;
    max-width: 500px;
    border: white 8px solid;
    text-align: center;
    outline-style: solid;
    outline-color: black;
    outline-width: 2px;
}
#startOptionsExtra {
    padding: 0 0 0 0;
    margin: 0 auto 0 auto;
    background-color: white;
    border: white 8px solid;
    min-width: 400px;
    max-width: 500px;
    outline-style: solid;
    outline-color: black;
    outline-width: 2px;
}
#polaroid {
    margin: 20vh auto 0 auto;
    border-color: black;
    border-size: 12px;
    border-style: straight;
    min-width: 400px;
    max-width: 500px;
}
#startText {
    font-size: 40pt !important;
}
.startButton {
     display: block !important;
     margin-left: auto !important;
     margin-right: auto !important;
}
.startNavItem {
    font-size: 20pt !important;
}

.deleteButton {
    font-size: 15px !important;
    border-color: red;
    background-color: white;
}

#vacationTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto 20px auto;
    text-align: center;
}

#vacationTable td, #vacationTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#vacationTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

#vacationTable th.deleteButton {
    text-align: center !important;
}

#welcomeText {
    background-color: #04AA6D;
    padding: 10px 0px 0px 0px;
    color: white !important;
    border: #ddd 2px solid;
}