<!DOCTYPE html>
<html xmln:th=www.thymeleaf.org xmlns:xmln="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>shop</title>
    <link rel="stylesheet" href="styles2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="input">
    <h3>Please check your personal information</h3>
    <p th:text="'Email: ' + ${email}"></p>
    <p th:text="'Address: ' + ${address}"></p>
    <p th:text="'Card-Credentials: ' + ${card}"></p>
    <p th:text="'Delivery kind: ' + ${deliveryKind}"></p>
    <p th:text="'Price: ' + ${price} + '€'"></p>
    <p th:text="'Address: ' + ${address}"></p>
    <p th:text="'Order Date: ' + ${orderDate}"></p>
    <p th:text="'Delivery Date: ' + ${deliveryDate}"></p>
    <form action="payment" method="post">
        <button type="submit">Pay</button>
    </form>
    <form action="deleteOrder" method="post">
        <button type="submit">cancel order</button>
    </form>
</div>
</body>
</html>