<!DOCTYPE html>
<html xmln:th=www.thymeleaf.org xmlns:xmln="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
    <h4>Welcome user:</h4>
    <h4 th:text=${firstname}>firstname</h4>
    <h4 th:text=${lastname}>lastname</h4>

    <form action="deleteAccount" method="post">
        <label for="passwd">Password :</label> <br/>
        <input type="password" name="passwd" id="passwd"/> <br/>

        <button type="submit">Delete Account</button>
    </form>
    <h3 th:text=${DF}>Check password!</h3>
    <p/>
    <form action="register" method="post">
        <button type="submit">Back to registration</button>
    </form>
    <form action="login" method="post">
        <button type="submit">Back to login</button>
    </form>
</body>
</html>