<!DOCTYPE html>
<html xmln:th=www.thymeleaf.org xmlns:xmln="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <h2>Welcome user:</h2>
        <h2 th:text=${firstname}>firstname</h2>
        <h2 th:text=${lastname}>lastname</h2>
    </header>
    <main>
        <h3>Add vacation</h3>
            <form action="addVacation" method="post">
            <label for="start">From: </label> <br/>
            <input type="date" name="start" id="start"/> <br/>
            <label for="end">To:</label> <br/>
            <input type="date" name="end" id="end"/> <br/>
        <button type="submit">Add vacation</button>
        </form>
        <h2 class="error" th:text=${NEVD}>Not enough vacation days!</h2>
        <h2 class="error" th:text=${CI}>Check input!</h2>
        <h2 class="error" th:text=${VO}>Vacations overlapping!</h2>
        <h2 class="error" th:text=${VIE}>Fill in all data!</h2>
        <table>
            <tr>
                <th>Start:</th>
                <th>End:</th>
                <th>Duration (Days):</th>
                <th>Action</th>
            </tr>
            <tbody>
            <tr th:each="vacation : ${vacations}">
                <td th:text="${vacation.getStartDate()}"></td>
                <td th:text="${vacation.getEndDate()}"></td>
                <td th:text="${vacation.durationInDays()}"></td>
                <td>
                    <form action="deleteVacation" method="post">
                        <input type="hidden" name="startDate" th:value="${vacation.startDate}"/>
                        <input type="hidden" name="endDate" th:value="${vacation.endDate}"/>
                        <button type="submit" class="deleteButton">Delete</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Vacation days left:</td>
                <td th:text=${VDL}>0</td>
            </tr>
            </tbody>
        </table>
        <form action="deleteAccount" method="post">
            <label for="passwd">Password :</label> <br/>
            <input type="password" name="passwd" id="passwd"/> <br/>

            <button type="submit">Delete Account</button>
        </form>
        <h2 class="error" th:text=${DF}>Check password!</h2>
        <p/>
        <form action="register" method="post">
            <button type="submit">Back to registration</button>
        </form>
        <form action="login" method="post">
            <button type="submit">Back to login</button>
        </form>
    </main>
    </body>
</html>